@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@200;400;500;600;700&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header */
.head {
    padding: 5rem;
    height: 70vh;
    background-image: url(purple-wallpaper-7267076_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 5rem;
    color: #FFFBF5;
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 1;
}
p{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #FFFBF5;
    font-size: 2rem;
}
a {
    text-decoration: none;
    background: #FFFBF5;
    color: #7743DB;
    font-size: 1.5rem;
    padding: 5px 20px;
    border-radius: 20px;
    margin-left: 5px;
    font-weight: 600;
}

a:hover {
    background: #7743DB;
    color: #FFFBF5;
}

/* About Section */
.about {
    background: #FFFBF5;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.left, .right {
    width: 40%;
    text-align: justify;
    margin-bottom: 1.5rem;
}

h2 {
    font-family: "Poppins", sans-serif;
    margin-top: 0;
    color: #7743DB;
}
li{
    font-family: 'Courier New', Courier, monospace;
}
.content {
    padding: 20px 40px;
}

.right {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .left, .right {
        width: 100%;
        margin-bottom: 1.5rem;
    }
    h1 {
        font-size: 3rem;
    }
}

.project {
    height: auto; 
    background-color: #7743DB;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-weight: 700;
    font-size: 3rem;
    color: #F7EFE5;
    margin: 0;
}

h5 {
    font-weight: 700;
    font-size: 20px;
    color: #F7EFE5;
    text-align: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0 10px;
    margin-bottom: 5rem;
}

.box {
    width: calc(33.33% - 20px); 
    max-width: 150px;
    height: 150px;
    background-color: transparent;
    border: 2px solid #C3ACD0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}

/* Media Query for Small Screens */
@media screen and (max-width: 768px) {
    h3 {
        text-align: center;
    }
    .box {
        width: calc(50% - 20px); 
    }

    .container {
        justify-content: center; 
    }
}

